button {
    border: none; 
    padding: 0.75rem 2.875rem !important;
        /* otherwise padding gets overrided by browser padding default 0 */
    border-radius: 999999rem;
    margin: 0; 
    box-shadow: none;
    outline: none;
    font-size: inherit;
}

button:hover {
    /* TEMPORARY EFFECT */
    filter: brightness(1.25);
    cursor: pointer;
}

button.filled {
    background-color: var(--primary-color);
    color: var(--background-light);
}

button.outlined {
    background-color: transparent;
    border: 0.25rem solid var(--primary-color);
    color: var(--primary-color);
}

button.transparent {
    background-color: transparent;
}