.footer {
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
    border-top: 0.1rem solid var(--primary-light);
}
.footer .links_row {
    display: flex;
    flex-direction: row;
    gap: 4rem;
}
.footer .block {
    display: flex;
    flex-direction: column;
}
.footer h3 {
    color: var(--primary-color);
}
.copyright {
    margin-top: 1rem;
    text-align: right;
}
