.footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 4rem 6rem;
    gap: 3rem;
    box-sizing: border-box;
    border-top: 0.1rem solid var(--primary-light)
}
.block {
    display: flex;
    flex-direction: column;
}
.block h3 {
    color: var(--primary-color);
}
.copyright {
    margin-left: auto;
    margin-top: auto;
}