.main-title {
    width: 100%;
    text-align: center;
}
.card-container {
    display: flex;
    flex-direction: column;
    margin: 0 4rem;
    gap: 4rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.about-card {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
}
.card-img-container {
    /* left: 50%; */
    /* transform: translateX(-50%); */
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.5rem solid var(--neon-purple);
    overflow: hidden;
    display: flex;
    max-height: 16rem;
    max-width: 16rem;
    justify-content: center;
    background-color: red;
}

.card-img {
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}
.card-body {
    margin-top: -3.5rem;
    min-height: 16rem;
    z-index: -1;
    background-color: var(--light-purple);
    border-radius: 1rem;
    padding: 4rem;
    padding-top: 4rem;
    height: 100%;
}
.card-body > h3, h4 {
    text-align: center;
}
.card-body > .title {
    margin-bottom: 1rem;
}

.temp-spacer {
    height: 6rem;
}

@media (max-width: 768px) {
    .card-container {
        margin: 0 2rem;
        gap: 2rem;
    }
    .flex-row {
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding-top: 1rem;
    }
    .about-card {
        padding: 0;
    }
    .card-img-container {
        max-height: 10rem;
        max-width: 10rem;
        border: 0.375rem solid var(--neon-purple);
    }
    .card-body {
        padding: 1.5rem;
        padding-top: 4rem;
    }

}