.main-title {
    width: 100%;
    text-align: center;
}
.card-container {
    display: flex;
    flex-direction: column;
    margin: 0 4rem;
    gap: 4rem;
}

.about-card {
    position: relative;
    display: flex;
}
.card-img-container {
    position: absolute; 
    top: 0;
    max-width: 16rem;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.5rem solid var(--primary-color);
    overflow: hidden;
}
.card-img-container.left {
    left: 0;
}
.card-img-container.right {
    right: 0;
}
.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}
.card-body {
    flex: 1;
    min-height: 16rem;
    margin-top: 4rem;
    z-index: -1;
    background-color: var(--primary-light);
    border-radius: 1rem;
    padding: 2rem 4rem;
}
.card-body.left {
    margin-left: 10rem;
    padding-left: 8rem;
}
.card-body.right {
    margin-right: 10rem;
    padding-right: 8rem;
}
.card-body > .title {
    margin-bottom: 1rem;
}

.temp-spacer {
    height: 6rem;
}