.body {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 3.5rem;
    margin-bottom: 2rem;
}
.main-title {
    width: 100%;
    text-align: center;
}
.section {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid var(--light-purple);
    border-radius: 1rem;
    padding: 2.5rem 3.5rem;
}
.section-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.title-chip {
    position: absolute;
    top: 0;
    left: 3.5rem;
    transform: translateY(-50%);
    padding: 0.25rem 1.25rem;
    border-radius: 999999rem;
    background-color: var(--light-purple);
}
.section > h1 {
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
}
.section > h1, .fill-gradient {
    width: fit-content;
    background: -webkit-linear-gradient(30deg, #7139FF, #C3ACFF, #6A8DFF);
    background-clip: overflow; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subsection-container {
    gap: 2rem;
}
.subsection {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--grey-white);
    border-radius: 1rem;
    padding: 2rem;
}
.subsection-image {
    width: 40%;
    height: auto;
}
.subsection-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.subsection-text > h2 {
    color: var(--neon-purple);
}

@media (max-width: 768px) {
    .body {
        padding: 0 1.5rem;
    }
    .section {
        padding: 1.5rem 1.5rem;
    }
    .title-chip {
        left: 1rem;
    }
    .section-text {
        gap: 1rem;
    }
    .subsection {
        flex-direction: column;
        align-items: center;
    }
    .subsection-text {
        padding: 0;
    }
    .subsection-image {
        width: 75%;
    }
}