@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --primary-color: #7139FF;
    --primary-medium: #CFBBFF;
    --primary-light: #E5E0FF;
    --secondary-color: #A5BAFF;
    --tertiary-color: #ABA5FF;
    --primary-lightest: #F8F7FF;
    --background-light: #FFFFFF;
    /* font-size: 12px; */
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    font-family: Outfit;
    background-color: var(--background-light)
}

*, *::before, *::after {
    font-family: inherit;
    box-sizing: border-box;
}

h1 {
    font-size: 4.5rem;
    font-weight: 500;
    margin: 0;
}
h2 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}
h3 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}
h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}
/* h5, h6 reserved for small body text */
h5 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
}
p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    margin: 0;
}
.color-primary {
    color: var(--primary-color);
}

.spacer {
    flex: 1;
}

/* BUTTON STYLES */
button {
    border: none; 
    padding: 0.35rem 1.5rem !important;
        /* otherwise padding gets overrided by browser padding default 0 */
    border-radius: 999999rem;
    margin: 0; 
    box-shadow: none;
    outline: none;
    font-size: inherit;
}

button:hover {
    /* TEMPORARY EFFECT */
    filter: brightness(1.25);
    cursor: pointer;
}

button.square {
    border-radius: 0.25rem;
}
button.large {
    padding: 0.75rem 2.875rem !important;
}

button.filled {
    background-color: var(--primary-color);
    color: var(--background-light);
}

button.outlined {
    background-color: transparent;
    border: 0.125rem solid var(--primary-light);
    color: var(--primary-color);
}
button.outlined.large {
    border: 0.25rem solid var(--primary-color);
}

button.transparent {
    background-color: transparent;
}