@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --primary-color: #7139FF;
    --background-light: #FFFFFF;
    /* font-size: 12px; */
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    font-family: Outfit;
    background-color: var(--background-light)
}

*, *::before, *::after {
    font-family: inherit;
    box-sizing: border-box;
}

h1 {
    font-size: 4.5rem;
    font-weight: 500;
    margin: 0;
}
h2 {
    font-size: 3rem;
    font-weight: 500;
    margin: 0;
}
h3 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}
h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}
/* h5, h6 reserved for small body text */
h5 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
}
p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    margin: 0;
}