.section1 {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 2.75rem 6.25rem;
    min-height: 75vh;
    gap: 2rem;
}
.section1 > .bodytext {
    width: 50vw;
}
#hero_img {
    position: absolute;
    top: 50%;
    right: 2vw;
    width: 35vw;
    z-index: -1;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .section1  {
        padding: 2.75rem 2rem;
        min-height: 0;
        gap: 1rem;
    }
    .section1 > h1 {
        width: 50vw;
    }
    .section1 > .bodytext {
        width: 50vw;
    }
    #hero_img {
        position: absolute;
        top: 30%;
        right: 2vw;
        width: 35vw;
        z-index: -1;
        transform: translateY(-50%);
    }
}
/* 
@media (min-width: 601px) and (max-width: 1024px) {
    .section1 {
        padding: 2.75rem 3.125rem;
        min-height: 55vh;
    }
    #hero_img {
        width: 40vw;
    }
} */




.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.25rem 9.75rem;
    color: white;
    gap: 2rem;
    height: 90vh;
    width: 100vw;
    background: linear-gradient(248deg, #A5BAFF 19.93%, #C3ACFF 64.57%);
}
.section2 > * {
    text-align: center;
}


@media (max-width: 768px) {
    .section2 {
        padding: 6.25rem 2rem;
        height: 45vh;
    }
}

/* @media (min-width: 601px) and (max-width: 1024px) {
    .section2 {
        padding: 6.25rem 3.125rem;
        height: 60vh;
    }
} */


.section3 {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100vw;
    box-sizing: border-box;
    padding: 8.75rem 6.25rem;
}
.section3 > .underlined {
    position: relative;
    width: fit-content;
}
.section3 > .underlined::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 1rem;
    left: 0;
    height: 0.375rem;
    width: 100%;
    background-color: var(--neon-purple);
}
.section3 > .card-container {
    /* display: flex; */
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 2.25rem;
    gap: 1.25rem;
    border-radius: var(--Corner-None, 0rem) 3.125rem 3.6875rem 3.125rem;
    border: 1.5px solid #E5E0FF;
}
.card :is(h3) {
    color: var(--neon-purple);
}
.card > .title-nyu-logo {
    display: inline-block;
}
.card > .title-nyu-logo > h3 {
    display: inline;
}
.card > .title-nyu-logo > #nyu-logo {
    display: inline;
    width: auto;
    max-height: 2rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    vertical-align: top;
}
.section3 > .squiggle {
    background-color: red;
    height: 0.5rem;
    width: 100%;
}
.section3 > #squiggle {
    width: 100%;
    padding: 3rem 0;
}
.section3 > .body-container {
    display: flex;
    gap: 4rem;
}
.section3 > .body-container > .body-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 768px) {
    .section3 {
        padding: 2rem 2rem;
        gap: 1rem;
    }
    .section3 > .underlined::after {
        bottom: 0.625rem;
        height: 0.25rem;
    }
    .card-container {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
        grid-template-rows: repeat(3, minmax(0, 1fr));
    }
    .section3 > #squiggle {
        width: 100%;
        padding: 1rem 0;
    }
}


.quad-container {
    display: grid;
    grid-template-rows: repeat(2, 16rem);
    grid-template-columns: repeat(2, 16rem);
}
.quad-button  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    height: 100%;
    width: 100%;
    transition: filter 0.2s;
}
.quad-button:hover {
    filter: brightness(1.1);
    cursor: pointer;
}
.quad-button > h5 {
    min-height: 3.5rem;
}
.quad-button > .arrow {
    width: 1.5rem;
    height: auto;
    margin-left: auto;
    margin-bottom: auto;
    transition: height 0.2s, width 0.2s;
}
.quad1 {
    border-radius: 3rem 0 0 0;
    color: white;
    background-color: var(--neon-purple);
}
.quad2 {
    border-radius: 0 3rem 0 0;
    color: var(--neon-purple);
    background-color: var(--warm-purple);
}
.quad3 {
    border-radius: 0  0 0 3rem;
    color: var(--neon-purple);
    background-color: var(--light-blue);
}
.quad4 {
    border-radius: 0 0 3rem 0;
    color: white;
    background-color: var(--neon-purple);
}

@media (max-width: 768px) {
    .section3 > .body-container {
        flex-direction: column;
        gap: 4rem;
    }
    .quad-container {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    .quad-button {
        padding: 1.25rem;
        aspect-ratio: 1 / 1;
    }
    .quad-button > h3 {
        font-size: 1.5rem;
    }
    .quad-button > h5 {
        font-size: 0.75rem;
        min-height: 1.75rem;
    }
    .section3 {
        padding-bottom: 4rem;
    }
}

/* @media (min-width: 601px) and (max-width: 1024px) {
    .section3 > .body-container {
        flex-direction: column;
        gap: 4rem;
    }
    .quad-container {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
    .quad-button {
        padding: 1.25rem;
        aspect-ratio: 1 / 1;
    }
    .quad-button > h3 {
        font-size: 1.5rem;
    }
    .quad-button > h5 {
        font-size: 0.75rem;
        min-height: 0;
    }
    .quad1 {
        border-radius: 3.125rem 0 0 0;
    }
    .quad2 {
        border-radius: 0 0 0 0;
    }
    .quad3 {
        border-radius: 0 0 0 0;
    }
    .quad4 {
        border-radius: 0 0 3.125rem 0;
    }
    .section3 {
        padding-bottom: 4rem;
    }
} */