.section1 {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 2.75rem 6.25rem;
    min-height: 75vh;
    gap: 2rem;
}
.section1 > .bodytext {
    width: 50vw;
}
#hero_img {
    position: absolute;
    top: 50%;
    right: 2vw;
    width: 35vw;
    z-index: -1;
    transform: translateY(-50%);
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.25rem 9.75rem;
    color: var(--background-light);
    gap: 2rem;
    height: 90vh;
    width: 100vw;
    background: linear-gradient(248deg, #A5BAFF 19.93%, #C3ACFF 64.57%);
}
.section2 > * {
    text-align: center;
}

.section3 {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100vw;
    box-sizing: border-box;
    padding: 8.75rem 6.25rem;
}
.section3 > .underlined {
    position: relative;
}
.section3 > .underlined::after {
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 0;
    height: 0.375rem;
    width: 20rem;
    background-color: var(--primary-color);
}
.section3 > .card-container {
    /* display: flex; */
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 2.25rem;
    gap: 1.25rem;
    border-radius: var(--Corner-None, 0rem) 3.125rem 3.6875rem 3.125rem;
    border: 1.5px solid #E5E0FF;
}
.section3 > .squiggle {
    background-color: red;
    height: 0.5rem;
    width: 100%;
}
.section3 > #squiggle {
    width: 100%;
    padding: 3rem 0;
}
.section3 > .bodytext {
    width: 30vw;
}

.section3 > .body-container {
    display: flex;
    gap: 4rem;
}

.quad-container {
    display: grid;
    grid-template-rows: repeat(2, 16rem);
    grid-template-columns: repeat(2, 16rem);
}
.quad-button  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    transition: filter 0.2s;
}
.quad-button:hover {
    filter: brightness(1.1);
}
.quad-button > h5 {
    min-height: 3.5rem;
}
.quad-button > .arrow {
    width: 1.5rem;
    height: auto;
    margin-left: auto;
    margin-bottom: auto;
    transition: height 0.2s, width 0.2s;
}
.quad1 {
    border-radius: 3rem 0 0 0;
}
.quad2 {
    border-radius: 0 3rem 0 0;
}
.quad3 {
    border-radius: 0  0 0 3rem;
}
.quad4 {
    border-radius: 0 0 3rem 0;
}