.profile {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 0 4rem;
    width: 100%;
}
.header {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    height: 18rem;
    width: 100%;
}
.pfp {
    aspect-ratio : 1 / 1;
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 100%;
}
.header-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header-name {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
.header-content > .spacer {
    flex: 1;
}
.header-buttons {
    margin-top: 0.125rem;
    display: flex;
    flex-direction: row;
    gap: 0.67rem;
}

.section {
    display: flex;
    flex-direction: column;
    border: 0.125rem solid var(--light-purple);
    border-radius: 0.25rem;
    padding: 1.75rem 4rem;
    gap: 1rem;
}
.sections-row {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}
.section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.about {
    padding: 1.75rem 5.25rem;
}

.section.photos {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-bottom: 4rem;
}
.carousel {
    display: flex;
    flex-direction: column;
}
.carousel-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}
.carousel-controls > button {
    position: static !important;
    transform: none !important;
    width: 5%;
    border-color: var(--neon-purple);
    color: var(--neon-purple);
}
.carousel-controls > button:hover {
    background-color: var(--neon-purple);
    color: white;
}

.measurements {
    position: relative;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -2.5rem;
    width: 100%;
    background-color: var(--light-purple);
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 0.5rem;
}
.measurement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 1rem;
}
.measurement-value {
    color: var(--neon-purple);
}
.measurements .units {
    position: absolute;
    top: -2.5rem;
    right: 1rem;
    text-decoration: underline;
}

.items-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: var(--grey-white);
}
.item-line {
    width: 95%;
    height: 0.1rem;
    background-color: var(--light-grey);
    border-radius: 999999rem;
}
.exp-item {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    min-height: 12rem;
    padding: 2rem 1rem;
    background-color: var(--grey-white);
}
.exp-img {
    aspect-ratio : 1 / 1;
    max-height: 12rem;
    width: auto;
    object-fit: cover;
}
.exp-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section.emp {
    padding: 1.75rem 1.75rem;
    flex: 1;
}
.emp-container {
    flex: 1;
}
.emp-item {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    min-height: 4rem;
    padding: 1rem;
    background-color: var(--grey-white);
}
.emp-img {
    aspect-ratio : 1 / 1;
    max-height: 4rem;
    width: auto;
    object-fit: cover;
}
.emp-body {
    display: flex;
    flex-direction: column;
}
.emp-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


.section.skills {
    padding: 1.75rem 1.75rem;
    flex: 1;
}
.skills-bubbles-container {
    background-color: var(--grey-white);
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.5rem;
}
.skill-bubble {
    background: linear-gradient(135deg, #9AADF3, #7E7EFF); /* Gradient from #604FFF to #4090FF */
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 999999rem;
    color: white;
}
.skill-bubble:not(:last-child) {
    margin-right: 0.5rem;
}
.skill-bubble > h4 {
    font-size: 1rem;
}


.show-more {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--light-purple);
    color: var(--neon-purple);
}
.show-more:hover {
    text-decoration: underline;
    cursor: pointer;
}